* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
}

header {
  height: 117px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
  background-color: #8A0000; 
  position: sticky;
  top: 0;
  z-index: 10;
}
header .logo a img {
  width: 250px; 
}
header .form_and_tell {
  margin-right: 5%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap:20px
}
header .form_and_tell .search_form {
  position: relative; 
}
header .form_and_tell .search_form input {
  background-color: #8A0000;
  padding: 10px;
  border: 1px #FFFDD0 solid;
  border-radius: 7px;
  color: #FFFDD0;
  font-size: 17px; 
}
    
header .form_and_tell .search_form img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  cursor: pointer;
}
header .form_and_tell a {
  text-decoration: none;
  color: #FFFDD0;
  font-weight: 200;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}


/* header  .menu {
  width: 50px;
  height: 50px;
  border: 1px solid #FFFDD0;
  display: none;
  align-items: center;
  justify-content: center;
}
header  .menu .show-menu {
  height: 20px;
  width: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header  .menu .show-menu span {
  width: 22px;
  height: 2px;
  background-color: #FFFDD0;;

}
header .menu .hide-menu {
color: white;
font-size: 40px;
font-weight: 100;
display: none;
align-items: center;
justify-content: center;

}
header .menu .hide-menu img {
  width: 30px;
} */

.menu_list {
  background-color: white;
  width: 100%;
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 117px;
  z-index: 10;
}
.menu_list ul {
  height: 100%;
  display: flex;
  gap: 150px;
  justify-content: center;
  align-items: center; 
}
.menu_list ul a {
  font-weight: bold;
  color: #8A0000;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
  letter-spacing: 0.5px;
  font-size: 18px;
  border-radius: 2px;
}
.menu_list ul li {
  list-style: none;
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif; 
}


.section_1 {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/homepage-hero-hps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFDD0;
}
.section_1 h1, .section_1 h3, .section_1 button {
  margin-top: 20px;
}
.section_1 button {
  padding: 20px 60px 20px 60px;
  background-color: #D62020;
  border-radius: 50px;
  color: #FFFDD0;
  font-weight: 200;
  font-size: 20px;
  border: 2px solid #D62020; 
}
.section_1 button:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #D62020;
}

.section_2 {
  padding: 50px 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.section_2 section {
  width: 800px;
  text-align: center;
  color: #5a5959; 
}
.section_2 section h1 {
  font-weight: 500; 
}
.section_2 section p {
  margin-top: 25px;
  line-height: 1.6;
  font-size: 17px; 
}

.section_3 {
 
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center; 
  padding: 50px 0;
  flex-wrap: wrap;
}
.section_3 section {
  height: 620px;
  width: 300px;
  line-height: 1.6;
  font-size: 17px;
  position: relative;
  padding: 20px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.507);
  color: grey; 
  position: relative;
}
/* .section_3 section:hover {
  height: 82%;
  width: 30%; 
} */
.section_3 section .section_3_button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: #D62020;
  border: 2px solid #D62020;
  color: #FFFDD0;
  font-size: 17px;
  font-weight: 600;
  /* margin-top: 10px; */
  position: absolute;
  left: 50px;
  bottom: 30px
}
.section_3 section .section_3_button:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #8A0000;
  color: #8A0000; 
}

.login_section {
  padding: 70px 0;
  width: 100%;
  background-image: url(../images/schedule-a-call.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:30px

}
.login_section .login_text {
  width: 700px;
  line-height: 1.6; 
  color:white;
}
.login_section .login_form {
  width: 400px;
  background-color: rgba(255, 255, 255,0.3);
  padding-bottom: 30px;
  padding-top: 30px; 
}
.login_section .login_form .register-form {
text-align: center; 
color:#5a5959;
}
.login_section .login_form .register-form input {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 3px; 
}
.login_section .login_form .register-form .schedule {
  padding: 20px 80px 20px 80px;
  background-color: #D62020;
  border: 2px solid #D62020;
  border-radius: 30px;
  color: #FFFDD0;
  font-size: 17px; 
}
.login_section .login_form .register-form .schedule:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #D62020;
  font-size: 18px; 
}

footer {
  padding: 50px 0;
  width: 100%;
  background-color: #8A0000;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
footer .contact_information {
  width: 300px;
  height: 410px;
  display: flex;
  flex-direction: column;
  color: #FFFDD0; 
}
footer .contact_information a {
  text-decoration: none;
  color: #FFFDD0;
}
footer .contact_information p {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  line-height: 25px;  
  margin-top: 20px; 
}
footer .contact_information ul li {
  list-style: none;
  border-bottom: 1px solid grey;
  margin-top: 20px;
  padding-bottom: 20px; 
}
footer .contact_information ul .email {
  background: url(../images/email-icon.svg) -2px -6px no-repeat;
  background-size: 35px; 
}
footer .contact_information ul .email a {
  margin-left: 38px; 
}
footer .contact_information ul .telephone {
  background: url(../images/phone-icon-white.svg) -6px -9px no-repeat;
  background-size: 40px; 
}
footer .contact_information ul .telephone a {
  margin-left: 38px; 
}
footer .contact_information ul .address {
  background: url(../images/location-icon.svg) -6px -9px no-repeat;
  background-size: 40px; 
}
footer .contact_information ul .address a {
  margin-left: 38px;
}
footer .footer_nav_menu {
  width: 200px;
  height: 69%;
  line-height: 1.6;
  color: #FFFDD0; 
}
footer .footer_nav_menu ul {
  font-size: 14px; 
}
footer .footer_nav_menu ul li {
  list-style: none;
  background: url(../images/list_icon.png) -2px 6px no-repeat;
  background-size: 12px;
  margin-top: 15px;
  padding-bottom: 15px; 
}
footer .footer_nav_menu ul li a {
  text-decoration: none;
  color: #FFFDD0;
  margin-left: 25px; 
}
footer .footer_form {
  width: 410px;
  height: 69%;
  color: #FFFDD0; 
}
footer .footer_form form label {
  font-size: 20px;
  font-weight: 400;
}
footer .footer_form form .input_and_button {
  display: flex;
  margin: 40px 0 60px 0;
}
footer .footer_form form .input_and_button .subscribe_email_div #email {
  padding: 10px;
  height: 50px;
  border: none;
  font-size: 18px;
  border-radius: 2px; 
}
footer .footer_form form .input_and_button .subscribe_button_div .subscribe_button {
  padding: 10px 20px;
  height: 50px;
  background-color: #D62020;
  border: none;
  color: #FFFDD0;
  letter-spacing: 0.5px;
  font-size: 18px;
  border-radius: 2px; 
}
footer .footer_form .pages_links {
  border-top: 1px solid grey;
  padding-top: 30px; 
}
footer .footer_form .pages_links a {
  text-decoration: none; 
}

.copyright {
  height: 70px;
  background-color: #380000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFDD0; 
  gap: 500px
}
.copyright .copyright_section {
  font-size: 17px; 
}
.copyright .button_section button {
background-color: transparent;
border: none;
color: #FFFDD0;
letter-spacing: 0.5px;
font-size: 16px; 
}
.copyright .button_section .career {
padding-right: 20px;
border-right: 2px solid #FFFDD0; 
}
.copyright .button_section .blog {
margin-left: 15px; 
}





/* about section */
/* .about_founder {

width: 100%;
background-image: url("../images/founder.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
flex-wrap: wrap;
align-items: center;
color: #FFFDD0; 
} */
/* .about_founder .about_founder_text {
margin-left: 100px;
width: 40%;
letter-spacing: 1px;
font-size: 17px;
line-height: 20px; }
.about_founder .about_founder_text p {
margin-top: 20px; } */

.leadership_team {
  background-color: #8A0000;
  color: #FFFDD0;
  width: 100%; 
  padding: 50px 0;
}
.leadership_team .leadership_title {
  text-align: center; 
  padding-bottom: 50px;

}
.leadership_team .members_list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  flex-wrap: wrap;
}
.leadership_team .members_list div {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 50px 0 black;
  background-color: #620a0a; 
}

.leadership_team .members_list div .member_description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:10px
}
.leadership_team .members_list div .social_network_links {
  width: 100%;
}
.leadership_team .members_list div .social_network_links a {
text-decoration: none;
color: #FFFDD0; 
}

.vision_and_mission {
  padding: 100px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:50px;
  background-image: url("../images/hands.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 40px;
  color: white; 
  flex-wrap: wrap;
}
.vision_and_mission section{
  width: 480px;
}
/*# sourceMappingURL=style_about.css.map */






/* contact us section */
.contactUs_img {
  height: 400px;
  width: 100%;
  background-image: url("../images/contact-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 0 150px;
  
}
.contactUs_img h1 {
  color: #8A0000 
}




.contactUs_form {
  padding: 100px 0;
  background-color: #8A0000;
  width: 100%; 
  border-bottom: 1px solid grey;
}
.contactUs_form form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px 
}
.contactUs_form form section {
  display: flex;
  flex-direction: column;
  width: 350px; 
  position: relative;
}
.contactUs_form form section input {
  width: 350px;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  font-size: 17px; 
}
.contactUs_form form section label {
  color: #FFFDD0;
  font-size: 16px; 
}

.contactUs_form form section #submit {
  width: 200px;
  height: 38px;
  border-radius: 5px;
  background-color: #D62020;
  color: white;
  font-size: 18px;
}

.contactUs_form form section #message {
  height: 220px;
  width: 350px;
  padding: 8px;
  font-size: 17px;
  border-radius: 5px;
  resize: none;
}

/* .information_and_location_section {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
.information_and_location_section .information_and_socialNetwork .information {
  margin-bottom: 30px;
  line-height: 30px; }
.information_and_location_section .information_and_socialNetwork .information ul li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 10px 0; }
.information_and_location_section .information_and_socialNetwork .information ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px; }
.information_and_location_section .information_and_socialNetwork .socialNetwork_links a {
  text-decoration: none;
  margin-right: 10px; } */

/*# sourceMappingURL=contactUs.css.map */



.menu_list .active a {
  color: #574E4C !important;
}

.is-invalid {
  background-image: none !important;
  padding-right: 12px !important
}



/* @media */

@media (max-width: 500px) {
  header .form_and_tell {
    display: none;
  }

  .menu_list {
    /* display: none; */
    height: 120px;    
  }
  .menu_list ul{
    gap: 10px;
    flex-direction: column;
    
  }
  .menu_list ul li a {
    font-size: 16px;
  }

  header {
    gap: 10px
  }
  .section_2 {
    padding: 50px 10px;
  }
  .section_2 section {
    width: 100%
  }
  /* header  .menu {
    display: flex;
  } */
  .login_section {
    background-position:right;
  }
  .login_section .login_text {
    padding: 8px;
    width: 100%;
    text-align: center;
  }
  .login_section .login_form {
    width: 100%;
  }

.copyright {
  padding: 20px 0;
  height: 100px;
  flex-wrap: wrap;
  gap: 20px
}




.vision_and_mission section{
  width: 100%;
  padding: 0 10px;
}






.contactUs_img {
  padding: 150px 0 0 5px;
}
.contactUs_form {
  padding: 10px;
}
.contactUs_form form section input {
  width: 270px;
}
.contactUs_form form section #message {
  width: 270px;
}

footer {
  padding: 10px;
}
footer section {

  width: 100%;
}
footer .contact_information a {
  width: 100%;
}
footer .contact_information a img {
  width: 90%;
}
footer .footer_form form {
  width: 100%;
  display:flex;
  flex-direction:column;
  text-align:center
}
footer .footer_form form .input_and_button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer_form form .input_and_button .subscribe_email_div #email {
  width: 250px;
}
footer .footer_form form .input_and_button .subscribe_button_div .subscribe_button {
  width: 250px;
}
}





@media (min-width: 501px) and (max-width:950px) {
  header {
    gap:100px;
  }
  header .logo a img{
    width: 190px;
  }
  header .form_and_tell a {
    display: none;
  }
  header .form_and_tell .search_form input {
    width:220px;
  }

  .menu_list ul {
    gap: 30px;
  }

  .menu_list ul a {
    font-size: 13px;
    /* text-align: center; */
  }
  .section_2 {
    padding: 30px 10px;
  }
  .section_2 section {
    width: 100%;
  }

  .login_section .login_text {
    padding: 20px 10px 0 10px;
    text-align: center;
  }

  .copyright {
    padding: 50px 0;
    flex-direction: column;
    gap: 20px
  }
  .contactUs_img {
    padding: 160px  0  0 20px;
  }
}